.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .sidenav-container {
    flex: 1;
  }
  
  .sidebar {
    width: 250px;
    background-color: #f5f9fc;
    border-right: 1px solid #e0eaf5;
  }
  
  .content {
    padding: 20px;
    background-color: #f9fbfd;
  }


